.menu-category{
margin:0px 1%;
cursor:pointer;

}
.menu-category *{
	text-decoration:none;
	color:black;
}

.mat-form-field-wrapper{
  padding-bottom: 0;
}
.searchBtn{
	cursor:pointer;
	margin-left:10px;
}
.mobile-menu-btn{
	display:none;
}
@media screen and  (max-width: 480px){
.menu-category{
	display:grid;
}
.regular-menu{
	display:none;
}
.mobile-menu-btn{
	display:grid;
	margin:0px auto;
}
}