<div style="text-align:center">
	  <h1 class="mat-h1">
		Dashlines
	  </h1>
	  <mat-divider></mat-divider>
	<div class="tool-bar">
		<div class="regular-menu">
			<span  class="menu-category"><a [routerLink]="['/news/']">My Feed.</a></span> 
			<span  class="menu-category" *ngFor = "let c of categories"><a [routerLink]="['/category/',c.split(':')[0]]">{{c.split(":")[0]}}.</a></span> 
			<span  class="menu-category"><a [routerLink]="['/sources/']">Sources.</a></span> 
		</div>
		<!-- Mobile only -->
		<div class="mobile-menu-items">
		<mat-menu  #appMenu="matMenu">
			<button [routerLink]="['/news/']" mat-menu-item>My Feed</button>
			<button *ngFor = "let c of categories" [routerLink]="['/category/',c.split(':')[0]]" mat-menu-item>{{c.split(":")[0]}}</button> 
			<button [routerLink]="['/sources/']" mat-menu-item>Sources</button>
		</mat-menu>
		</div>
		<div class="mobile-menu-btn">
			<button  mat-icon-button [routerLink]="['/news/']" >My Feed</button>
			<button class="" mat-icon-button [matMenuTriggerFor]="appMenu">
				<mat-icon>more_vertical</mat-icon>
			</button>
		</div>
		<mat-form-field appearance="outline">
			<mat-label>Search</mat-label>
			<input [(ngModel)]="searchText" matInput placeholder="IP">
			<mat-icon matSuffix class="searchBtn"(click)="searchFeed()">search</mat-icon>
		</mat-form-field>
		
	 
	</div>
	

	<mat-divider></mat-divider>
</div>