.menu-category{
margin:0px 1%;
cursor:pointer;

}
.menu-category *{
	text-decoration:none;
	color:black;
}

.mat-form-field-wrapper{
  padding-bottom: 0;
}
.searchBtn{
	cursor:pointer;
	margin-left:10px;
}