
.articleBox{
	
    
    padding: 10px;
    box-shadow: 0px 0px 4px 2px #e7d6d6c4;
}

.newsBox{
	width:90%;
	margin:10px auto;
	display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 2%;
	
}
.rest{
	clear:both;
}
.articleThumbanil{
	width:99%;
	height:auto;
	//max-height:300px;
	//max-width:500px;
}
.menu-category{
margin:0px 1%;

}