<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="mat-h1">
	Suddi Samachara
  </h1>
  <mat-divider></mat-divider>
  <p><span  class="menu-category" *ngFor = "let c of categories" (click)="changeFeed(c.split(':')[0])">{{c.split(":")[0]}}</span>  </p>
<mat-divider></mat-divider>
<div class="newsBox">
<mat-card  *ngFor = "let o of obj">
<a href="{{o.url}}" target="_new"><img mat-card-image src="{{o.urlToImage}}"></a>

<mat-card-title class="mat-h3">{{o.title}}</mat-card-title>
<mat-card-content>{{o.description}}</mat-card-content>
<mat-card-footer>{{o.publishedAt}}</mat-card-footer>
</mat-card> 
<!--<div class="articleBox" *ngFor = "let o of obj">
	
<img class="articleThumbanil" src="{{o.urlToImage}}" >
	
	<p>{{o.description}}</p>
	<p>{{o.publishedAt}}</p>
</div> -->
</div>
<div class="rest">
<!--<app-new-cmp></app-new-cmp>
<app-news-cmp></app-news-cmp>
-->
</div>