
<div class="outer-wrapper">
	<div class="newsBox">
		<mat-card  *ngFor = "let o of featuredArticles">
		<a href="{{o.url}}" target="_new"><img mat-card-image src="{{o.urlToImage}}"></a>

		<mat-card-title class="mat-h5"><a href="{{o.url}}" target="_new">{{o.title}}</a></mat-card-title>
		<span class="source"><a [routerLink]="['/source/',o.sourceId]">{{o.source}}</a></span>
		<mat-card-content class="mat-body">{{o.content | truncateEnd}}</mat-card-content>
		</mat-card> 

	</div>

	<div class="right-news-box">
		<div  class="right-article" *ngFor = "let mo of myFeedArticles | keyvalue">
			<!-- <h4 class="mat-small">Feed from {{mo.key}}</h4>-->
			<div class="right-category-wrapper" *ngFor = "let o of mo.value; let i=index">
			
			<div class="img-wrapper-left" *ngIf="i<3">
				<a href="{{o.url}}" target="_new"><img  src="{{o.urlToImage}}"></a> 
			</div>
			<div class="title-wrapper-right" *ngIf="i<3">
				<p class="mat-h5"><a href="{{o.url}}" target="_new">{{o.title | truncateWords:10}}</a></p>
				<p class="mat-small descr">{{o.description | truncateWords:15}}</p>
			</div>
			
			</div>
		</div>
		
		<div  class="fav-sources"  *ngFor = "let mo of mySourceFeed | keyvalue">
			<div class="right-category-wrapper" *ngFor = "let o of mo.value; let i=index">

				<div class="img-wrapper-left" *ngIf="i<3">
					<a href="{{o.url}}" target="_new"><img  src="{{o.urlToImage}}"></a> 
				</div>
				<div class="title-wrapper-right" *ngIf="i<3">
					<p class="mat-h5"><a href="{{o.url}}" target="_new">{{o.title | truncateWords:10}}</a></p>
					<p class="mat-small descr">{{o.description | truncateWords:15}}</p>
				</div>
			</div>
		</div>
		
	</div>
</div>
	 <!--<mat-divider></mat-divider> -->
		
